.modal {
  display: none; /* Escondido por padrão */
  position: fixed; /* Ficará fixo na tela */
  z-index: 1; /* Ficará no topo */
  left: 0;
  top: 0;
  width: 100%; /* Largura total */
  height: 100%; /* Altura total */
  overflow: auto; /* Habilitar a rolagem se necessário */
  background-color: rgb(0,0,0); /* Cor de fundo */
  background-color: rgba(0,0,0,0.4); /* Cor de fundo com opacidade */
}

/* Estilo do conteúdo do modal */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% do topo e centralizado horizontalmente */
  padding: 20px;
  border: 1px solid #888;
  width: 40%; /* Pode ser mais ou menos, dependendo do desejado */
}

/* Opcional: Estilos para animação do modal */
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}

.modal.show {
  display: block; /* Mostrar o modal */
  animation: fadeIn 0.5s;
}

.modal.hide {
  animation: fadeOut 0.5s;
  animation-fill-mode: forwards; /* Mantém o estado final depois da animação */
}